:root {
  --card-width: 300px;
  --card-height: 300px;
}
.container {
  -webkit-perspective: 1000px;  
  width: var(--card-width); 
  height: var(--card-height); 
  margin: 1px;
}
.card {
  width: var(--card-width); height: var(--card-height);
  position: relative;
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 5s linear infinite;
  background: #444;
  border-radius: 10px;
  border-radius:50%;
}

.face {
  width: var(--card-width); height: var(--card-height);
  position: absolute;
}
.front {
  background-size: contain !important;
  box-shadow: 0px 0px 100px 10px white; 
  border-radius:50%;
  background: url('../images/question.jpg');
}
.back {
  width: var(--card-width); height: var(--card-height);
  background:url('../images/baker.jpg');
  -webkit-transform: translateZ(-3px) rotateY(180deg);
  background-size: cover;
  border-radius: 11px;
  border-radius:50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg)
  }
  
  100% {
    -webkit-transform: rotateY(360deg);
  }
}

