@import url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1173082/Voga.css");
header {
	font-family: 'Voga';
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
@media screen and (min-width: 1281px) and (max-width: 1920px) {
	header span {
		font-size: 115px;
		color: #FFF;
		animation: titleShow 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) both;
	}
	header {
		padding-top: 30px;
		padding-bottom: -30px;
	}
}
@media screen and (min-width: 960px) and (max-width: 1280px) {
	header span {
		font-size: 80px;
		color: #FFF;
		animation: titleShow 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) both;
	}
	header {
		padding-top: 30px;
		padding-bottom: -30px;
	}
}
@media screen and (min-width: 768px) and (max-width: 959px) {
	header span {
		font-size: 56px;
		color: #FFF;
		animation: titleShow 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) both;
	}
	header {
		padding-top: 30px;
		padding-bottom: -30px;
	}
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	header span {
		font-size: 36px;
		color: #FFF;
		animation: titleShow 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) both;
	}
	header {
		padding-top: 30px;
		padding-bottom: -30px;
	}
}
@media screen and (max-width: 479px) {
	header span {
		font-size: 24px;
		color: #FFF;
		animation: titleShow 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) both;
	}
	header {
		padding-top: 30px;
		padding-bottom: -30px;
	}
}
.first span:nth-child(1) {
	animation-delay: 1.1s;
}
.first span:nth-child(2) {
	animation-delay: 1.2s;
}
.first span:nth-child(3) {
	animation-delay: 1.3s;
}
.second span:nth-child(1) {
	animation-delay: 1.4s;
}
.second span:nth-child(2) {
	animation-delay: 1.5s;
}
.second span:nth-child(3) {
	animation-delay: 1.6s;
}
.second span:nth-child(4) {
	animation-delay: 1.7s;
}
.third span:nth-child(1) {
	animation-delay: 1.8s;
}
.third span:nth-child(2) {
	animation-delay: 1.9s;
}
.fourth span:nth-child(1) {
	animation-delay: 2.0s;
}
.fourth span:nth-child(2) {
	animation-delay: 2.1s;
}
.fourth span:nth-child(3) {
	animation-delay: 2.2s;
}
.fourth span:nth-child(4) {
	animation-delay: 2.3s;
}
.fourth span:nth-child(5) {
	animation-delay: 2.4s;
}
.fourth span:nth-child(6) {
	animation-delay: 2.5s;
}
.fifth span:nth-child(1) {
	animation-delay: 2.6s;
}
.fifth span:nth-child(2) {
	animation-delay: 2.7s;
}
.sixth span:nth-child(1) {
	animation-delay: 2.8s;
}
.sixth span:nth-child(2) {
	animation-delay: 2.9s;
}
.sixth span:nth-child(3) {
	animation-delay: 3.0s;
}
.sixth span:nth-child(4) {
	animation-delay: 3.2s;
}
.sixth span:nth-child(5) {
	animation-delay: 3.4s;
}
.sixth span:nth-child(6) {
	animation-delay: 3.6s;
}
.sixth span:nth-child(7) {
	animation-delay: 3.8s;
}
.sixth span:nth-child(8) {
	animation-delay: 4.0s;
}
@keyframes titleShow {
	0% {
		opacity: 0;
	}
	33%, 66% {
		opacity: .9;
	}
	100% {
		opacity: .5;
	}
}
/*** Start CSS markup ***/
.tip {
	display: inline-block;
	width: 105px;
	height: 105px;
}
.coin {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	float: right;
	background: url(https://mfcpro.files.wordpress.com/2016/06/mfc_coin2.png);
	background-position: left 0;
	animation: none;
	background-repeat: repeat-y;
}
.tip .coin {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	float: right;
	background: url(https://mfcpro.files.wordpress.com/2016/06/mfc_coin2.png);
	background-position: left 0;
	animation: coins 2.33s steps(30) infinite;
	background-repeat: repeat-y;
}
@keyframes coins {
	100% {
		background-position: 0 -3000px;
	}
}
/***End CSS markup ***/
/* Mixins */
@keyframes spin {
	from {
		background-position: 0, 0 0;
	}
	to {
		background-position: 0, 0 -1580px;
	}
}
#equation {}
#equation span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}
#equation .spinner {
	height: 140px;
	margin: 10px;
	margin-right: 12px;
	background-color: #FFF;
	background-position: 0;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #000;
	position: relative;
	animation: spin 3s linear 0s infinite;
}
#equation .spinner:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: -10px;
	left: -10px;
	width: 120px;
	height: 160px;
	border-radius: 10px;
	background-color: #333;
	background-image: -o-linear-gradient(#666 0%, #333 60%, #666 100%);
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2);
}
#equation .drink {
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6) 0%, transparent 15%, transparent 85%, rgba(0, 0, 0, 0.6) 100%), url("http://media.balsamiq.com/img/hashtaghot/drinks.jpg");
	width: 80px;
	background-size: 80px auto;
	background-position: 0, 0 20px;
}
#equation .drink:before {
	width: 100px;
}
#equation.zero .drink {
	background-position: 0, 0 -1580px;
}
#equation.one .drink {
	background-position: 0, 0 -1680px;
}
#equation.two .drink {
	background-position: 0, 0 -1780px;
}
#equation.three .drink {
	background-position: 0, 0 -1880px;
}
#equation.four .drink {
	background-position: 0, 0 -1980px;
}
#equation.five .drink {
	background-position: 0, 0 -2080px;
}
#equation.six .drink {
	background-position: 0, 0 -2180px;
}
#equation.seven .drink {
	background-position: 0, 0 -2280px;
}
#equation.done .spinner {
	animation: none;
	transition: background-position 2s ease-out 0s;
}
#shoulder {
	width: 80px;
	height: 100px;
	border-radius: 10px;
	background-color: #333;
	background-image: -o-linear-gradient(#666 0%, #333 60%, #666 100%);
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2);
}
#arm {
	position: relative;
	top: 10px;
	left: 10px;
	cursor: pointer;
	width: 60px;
	height: 80px;
	border-radius: 10% / 50%;
	background-color: #666;
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, transparent 15%, rgba(255, 255, 255, 0) 50%, transparent 85%, rgba(0, 0, 0, 0.3)), -o-linear-gradient(top, #333 0%, #666 10%, #999 30%, rgba(255, 255, 255, 0.8) 60%, #999 70%, #666 90%, #333 100%);
}
#arm:before {
	content: '';
	position: absolute;
	top: -40px;
	left: 16px;
	width: 16px;
	height: 70px;
	border-radius: 8px;
	box-shadow: 0px 2px 0px #333;
	background-color: #999;
	transform: rotate(-10deg);
	background-image: linear-gradient(to right, #666666 0%, rgba(255, 255, 255, 0.7) 50%, #666666 100%);
	transition: all 0.5s ease-in-out 0s;
}
#arm:after {
	content: '';
	position: absolute;
	top: -70px;
	left: -4px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #760209;
	border: 2px solid #5d0207;
	box-sizing: border-box;
	background-image: -o-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
	transition: all 0.5s ease-in-out 0s;
}
#arm.clicked:before {
	top: -20px;
	left: 20px;
	transform: rotate3d(100, 10, 0, 180deg);
	transform-origin: 0% 100%;
	transition: all 0.5s ease-in-out 0s;
}
#arm.clicked:after {
	top: 90px;
	transition: all 0.5s ease-in-out 0s;
}
.stopButton {
	box-shadow: 0px 0px 0px 10px #333;
	cursor: pointer;
	background-color: #9b0909;
	border-radius: 50%;
	width: 80px;
	height: 20px;
	transform: translateX(-50%);
}
.stopButton::before {
	content: '';
	z-index: 1;
	border-radius: 50%;
	background-color: #ff0000;
	position: absolute;
	bottom: 100%;
	left: 0%;
	transition: bottom 0.4s;
	width: 80px;
	height: 20px;
}
.stopButton::after {
	content: '';
	background-color: #9b0909;
	position: absolute;
	bottom: 50%;
	left: 0%;
	width: 80px;
	height: 20px;
	transition: height 0.4s;
}
.stopButton:active::before {
	bottom: 10%;
}
.stopButton:active::after {
	height: 10%;
}
.container {
	-webkit-perspective: 1000px;
	width: 300px;
	height: 300px;
	margin: 1px;
}
.card {
	width: 300px;
	height: 300px;
	position: relative;
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-animation: spin 5s linear infinite;
	background: #444;
	border-radius: 10px;
	border-radius: 50%;
}
.face {
	width: 300px;
	height: 300px;
	position: absolute;
}
.front {
	background-size: contain !important;
	box-shadow: 0px 0px 100px 10px white;
	border-radius: 50%;
	background: url('../images/question.jpg');
}
.back {
	width: 300px;
	height: 300px;
	background: url('../images/baker.jpg');
	-webkit-transform: translateZ(-3px) rotateY(180deg);
	background-size: cover;
	border-radius: 11px;
	border-radius: 50%;
}

body {
	margin: auto;
	background: #222;
}
.slotMachine{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-ms-flex-pack: Center;
	    justify-content: Center;
	-ms-flex-align: Center;
	    align-items: Center;
}
.slotMachine1 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-positive: 1.3;
	    flex-grow: 1.3;
}
.start{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  cursor: all-scroll;
}
.disabledButton
{
  background-color:gray;
  cursor: not-allowed !important;
  pointer-events: none !important;
}
.stop {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  cursor: all-scroll;
}
.secondLayer {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
@media screen and (min-width: 1441px) {
	#circle div {
		background: #FFFE9F;
		margin: 3px;
		width: 125px;
		height: 125px;
	}
}
@media screen and (min-width: 960px) and (max-width: 1440px) {
	#circle div {
		background: #FFFE9F;
		margin: 3px;
		width: 100px;
		height: 100px;
	}
}
#circle {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: end;
	    align-items: flex-end;
	-ms-flex-pack: center;
	    justify-content: center;
	width: 100%;
	height: 100%;
}
#circle div img {
	opacity: 1;
	transition: .3s ease-in-out;
	width: 100%;
    height: 100%;
	-ms-flex: 0 1 calc(20%);
	    flex: 0 1 calc(20%);
}
@media screen and (min-width: 1441px) {
	#circle1 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: end;
		    align-items: flex-end;
		-ms-flex-pack: end;
		    justify-content: flex-end;
		-ms-flex-direction:column;
		    flex-direction:column;
		height: 100%;
		-ms-flex-positive: 1;
		    flex-grow: 1;
	}
	#circle1 div {
		background: #FFFE9F;
		margin: 3px;
		width: 125px;
		height: 125px;
	}
}
@media screen and (min-width: 960px) and (max-width: 1440px) {
	#circle1 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: end;
		    align-items: flex-end;
		-ms-flex-pack: end;
		    justify-content: flex-end;
		-ms-flex-direction:column;
		    flex-direction:column;
		height: 100%;
	}
	#circle1 div {
		background: #FFFE9F;
		margin: 3px;
		width: 100px;
		height: 100px;
	}
}
#circle1 div img {
	opacity: 1;
	transition: .3s ease-in-out;
	width: 100%;
    height: 100%;
}
@media screen and (min-width: 1441px) {
	#circle2 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		    align-items: flex-start;
		-ms-flex-pack: end;
		    justify-content: flex-end;
		-ms-flex-direction:column;
		    flex-direction:column;
		height: 100%;
		-ms-flex-positive: 1;
		    flex-grow: 1;
	}
	#circle2 div {
		background: #FFFE9F;
		margin: 3px;
		width: 125px;
		height: 125px;
	}
}
@media screen and (min-width: 960px) and (max-width: 1440px) {
	#circle2 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		    align-items: flex-start;
		-ms-flex-pack: end;
		    justify-content: flex-end;
		-ms-flex-direction:column;
		    flex-direction:column;
		height: 100%;
	}
	#circle2 div {
		background: #FFFE9F;
		margin: 3px;
		width: 100px;
		height: 100px;
	}
}
#circle2 div img{
	opacity: 1;
	transition: .3s ease-in-out;
	width: 100%;
    height: 100%;
	-ms-flex: 0 1 calc(20%);
	    flex: 0 1 calc(20%);
}
@media screen and (min-width: 1441px) {
	#circle3 div {
		background: #FFFE9F;
		margin: 3px;
		width: 125px;
		height: 125px;
	}
}
@media screen and (min-width: 960px) and (max-width: 1440px) {
	#circle3 div {
		background: #FFFE9F;
		margin: 3px;
		width: 100px;
		height: 100px;
	}
}
#circle3 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	    align-items: flex-start;
	-ms-flex-pack: center;
	    justify-content: center;
	width: 100%;
	height: 100%;
}
#circle3 div img{
	opacity: 1;
	transition: .3s ease-in-out;
	width: 100%;
    height: 100%;
	-ms-flex: 0 1 calc(20%);
	    flex: 0 1 calc(20%);
}
#reel{
	width: 300px;
    height: 300px;
	border-radius:50%;
	margin: 15px;
	background-color: gray;
}
.colorRed{
	opacity: .5 !important;
}
#viewbox {
    overflow: hidden;
    width: 295px;
    height: 295px;
	border-radius:50%;
    position: relative;
}
#viewbox .wrapper {
    position: relative;
	border-radius:50%;
}
#viewbox img {
    width: 100%;
    height: 100%;
	border-radius:50%;
}
#baker{
	width: 295px !important;
	height: 295px !important;
}