body {
	margin: auto;
	background: #222;
}
.slotMachine{
	display: flex;
	flex-flow: row wrap;
	justify-content: Center;
	align-items: Center;
}
.slotMachine1 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	flex-grow: 1.3;
}
.start{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  cursor: all-scroll;
}
.disabledButton
{
  background-color:gray;
  cursor: not-allowed !important;
  pointer-events: none !important;
}
.stop {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  cursor: all-scroll;
}
.secondLayer {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
#circle{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	height: 100%;
}
#circle div img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	width: 100%;
    height: 100%;
	flex: 0 1 calc(20%);
}
#circle div{
	background: #FFFE9F;
	margin: 3px;
	width: 150px;
    height: 150px;
}
#circle1 {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-direction:column;
	height: 100%;
	flex-grow: 1;
}
#circle1 div img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	width: 100%;
    height: 100%;
	flex: 0 1 calc(20%);
}
#circle1 div{
	background: #FFFE9F;
	margin: 3px;
	width: 150px;
    height: 150px;
}
#circle2 {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction:column;
	height: 100%;
	flex-grow: 1;
}
#circle2 div img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	width: 100%;
    height: 100%;
	flex: 0 1 calc(20%);
}
#circle2 div{
	background: #FFFE9F;
	margin: 3px;
	width: 150px;
    height: 150px;
}
#circle3 {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	height: 100%;
}
#circle3 div img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	width: 100%;
    height: 100%;
	flex: 0 1 calc(20%);
}
#circle3 div{
	background: #FFFE9F;
	margin: 3px;
	width: 150px;
    height: 150px;
}
#reel{
	width: 300px;
    height: 300px;
	border-radius:50%;
	margin: 15px;
	background-color: gray;
}

.colorRed{
	opacity: .5 !important;
}
#viewbox {
    overflow: hidden;
    width: 295px;
    height: 295px;
	border-radius:50%;
    position: relative;
}
#viewbox .wrapper {
    position: relative;
	border-radius:50%;
}
#viewbox img {
    width: 100%;
    height: 100%;
	border-radius:50%;
}
#baker{
	width: 295px !important;
	height: 295px !important;
}